.App {
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  background-color: blue;
  width: 100%;
  height: 100vh;
  /* border: solid orangered 1px; */


}

.intro {
  grid-column-start: 5;
  grid-column-end: 3;
  border: solid red 2px;
  color: white;
}

.pic {
  grid-row-start: 3;
  grid-row-end: 5;
  grid-column: 2/2;
  border: solid red 2px;
  


}

.pic img {
  height: 100%;
  width: 100%;
  border: solid red 2px;

}

.quote {
  grid-row: 3/5;
  grid-column: 4/6;
  overflow: hidden;
  border: solid red 2px;
}
.bio {
  grid-row: 5/6;
  grid-column: 4/6;
  border: solid red 2px;

}

.name {
  grid-column: 2/3;
  grid-row: 5/6;
  color: white;
  border: solid red 2px;

}

